p.jumbotronp {
	font-size:1em;
}
.test {
	padding:5px 10px 15px 10px;
	background-color:#eee;
	border-radius:6px;
	margin-top:-15px;
	margin-bottom:30px;
	border:5px solid #eee;
}
pre {
	display:inline;
	border:none;
	background-color:#eee;	
}
.footer {
	background-color:#222;
	text-align:center;
	margin-top:50px;
}
a.anchor {
	display: block; 
	position: relative; 
	top: -40px; 
	visibility: hidden;
}
.jumbotron-experience {
	margin-bottom:-20px;
}
.well-padding {
	padding-left:19px;
	padding-top:0px;
	margin-top:0px;
}
#sidebar {
	padding-right:15px;
	margin-top:10px;
}
#sidebar li{
	border:0 #f2f2f2 solid;
	border-bottom-width:1px;
	border-collapse:collapse;
}
hr {
	margin-bottom:0px;
}
.li-h4 {
	margin-top:20px;
	padding-left:-10px;
	font-size:1.25em;
}
.section-header {
	margin-top:0px;
}




