p.jumbotronp {
	font-size:1em;
}
.test {
	padding:5px 10px 15px 10px;
	background-color:#eee;
	border-radius:6px;
	margin-top:-15px;
	margin-bottom:30px;
	border:5px solid #eee;
}
pre {
	display:inline;
	border:none;
	background-color:#eee;	
}
.footer {
	background-color:#222;
	text-align:center;
}
a.anchor {
	display: block; 
	position: relative; 
	top: -30px; 
	visibility: hidden;
}
.jumbotron-experience {
	margin-bottom:-20px;
}